<!DOCTYPE HTML>
<html ng-app="gameModule">
<head>
  <meta charset="UTF-8">
  <title>256</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <script type="text/javascript" src="/js/vendors/jQuery.min.js"></script>
  <script type="text/javascript" src="/js/vendors/angular.min.js"></script>
  <script type="text/javascript" src="/js/vendors/underscore.js"></script>
  <script type="text/javascript" src="/js/vendors/mousetrap.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/directives.js"></script>
  <script type="text/javascript" src="/js/services/boardService.js"></script>
  <script type="text/javascript" src="/js/services/gameService.js"></script>
  <script type="text/javascript" src="/js/gameController.js"></script>

</head>
<body>
  <div ng-controller="gameController">
    <button ng-click="newGame()">New Game</button>
    <table>
      <tr class="row" ng-repeat="row in gameRows track by $index">
        <td ng-repeat="item in row track by $index">
          <tile></tile>
          <!-- <div class="tile">
            <div ng-if="item != 0">{{item}}</div>
          </div> -->
        </td>
      </tr>
    </table>

    <div>
      <ul>
        <li ng-repeat="row in gameRows">{{row}}</li>
      </ul>
    </div>
    <!-- <div grid="name"></div> -->

  </div>

</body>
</html>