<!DOCTYPE HTML>
<html ng-app="gameModule">
<head>
  <meta charset="UTF-8">
  <title>256</title>
  <script type="text/javascript" src="/js/vendors/jQuery.min.js"></script>
  <script type="text/javascript" src="/js/vendors/angular.min.js"></script>
  <script type="text/javascript" src="/js/vendors/underscore.js"></script>
  <script type="text/javascript" src="/js/vendors/mousetrap.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/directives.js"></script>
  <script type="text/javascript" src="/js/services/boardService.js"></script>
  <script type="text/javascript" src="/js/services/gameService.js"></script>
  <script type="text/javascript" src="/js/gameController.js"></script>

</head>
<body>
  <div ng-controller="gameController">
    <div sample-dir></div>
    <ul>
      <li ng-repeat="row in gameRows">{{row}}</li>
    </ul>

    <button ng-click="newGame()">New Game</button>
  </div>

</body>
</html>